<!DOCTYPE html>
<html>
  <head>
    <%- include('./components/basicHead') %>
  </head>
  <body>
    <div class="app">
      <%- include('./components/navigation') %>

      <div class="content">
        <h1>Welcome to I Wanna Mod!</h1>
        <p>I Wanna Mod is an easy proxy for those who want to use a private server for I Wanna Maker or do simple proxy-side mods.</p>
        <p><b>Some mods are bannable</b>, so please be cautious when on the main server. Generally, though, I Wanna Mod only enhances your experience.</p>
        <hr>
        <h2>Setup</h2>
        <p>First, locate your config.ini file.</p>
        <li>Windows: %AppData%\Local\IWM\config.ini</li>
        <li>Linux: /home/(user)/.local/share/Steam/steamapps/compatdata/???/IWM/config.ini</li>

        <p>Click "Copy server hostnames" and paste them in the [Server] section.</p>
        <button onclick='navigator.clipboard.writeText(`Image_hostname="<%=URL%>/img/"\nServer_hostname="<%=URL%>"\nServer_hostname_fallback="http://make.fangam.es"`) '>Copy server hostnames</button>
        <button onclick='window.location.href="/login/regenerate"'>Regenerate</button>

        <p>Save & re-launch I Wanna Maker. Log in with Steam, then come back here and click "Done"</p>
        <button onclick="window.location.reload()">Done</button>
      </div>
    </div>
  </body>
</html>
